.menuTabs{
  width: 100%;
  text-align: center;
  &.boxH{
    display: flex;
    flex-direction: row;
  }
  &.boxV{
    display: flex;
    flex-direction: column;
  }
  .boxSide{
    width: 150px;
    height: 100vh;
  }
  .menu{
    text-align: left;
  }
  .tabs{
    text-align: left;
  }
}